[submodule "3rdparty/libcrc"]
	path = 3rdparty/libcrc
	url = https://github.com/T1OOOO/libcrc.git
[submodule "3rdparty/bitfield-c"]
	path = 3rdparty/bitfield-c
	url = https://github.com/T1OOOO/bitfield-c.git
[submodule "3rdparty/tinyexpr"]
	path = 3rdparty/tinyexpr
	url = https://github.com/T1OOOO/tinyexpr.git
